button {

    color: white;
    background: transparent;
    font-weight: 300;
    font-size: 30px;

}

.container {

    width: 100px;
    position: absolute;
    overflow: scroll;
    border-right: 1px solid rgb(237, 237, 237);
    height: calc(96% - 34px);

}


.market {

    font-size: 16px;
    color: rgb(50, 50, 50);
    font-weight: 100;
    text-align: center;
    width: 100%;

}