
<mat-sidenav-container class='example-container'>

  <app-momentum-markets></app-momentum-markets>


  <div class='banner'>
    <div mat-raised-button class='title'>Name</div>
    <div mat-raised-button class='title'>Score</div>
  </div>




  <div *ngFor='let asset of assets'>
    
    <button mat-raised-button class='control-button-left'>{{asset.name}}</button>
    <button mat-raised-button class='control-button-right'>{{asset.longTermSharpeRatio | number:'1.0'}}</button>

  </div>

</mat-sidenav-container>



















