h1 {

    width: 100%;
    font-weight: 100;
    font-size: 16px;

}

h2 {

    color: white;
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: 300;

}

.container {

    margin-left: 100px;
    width: calc(100% - 100px);
    position: absolute;
    overflow: scroll;
    border-right: 1px solid rgb(237, 237, 237);
    height: calc(96% - 34px);
    background: linear-gradient(to right bottom, rgb(150, 210, 150),rgb(194, 200, 104))

}


.card {

    color: black;
    height: 100px;
    width: calc(25% - 13px);
    // background: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
    margin-top: 10px;

}

.market-name {

    color: black;
    width: 100%;
    font-weight: 100;
    text-align: center;
    margin-top: 14px;

}