<div *ngFor='let task of tasks'>
  <div class='minor-section' [className]="task.state=='done' ? 'minor-section-done' : 'minor-section'" *ngIf='task.state != "hidden"'>{{task.targetDurationHours}}:{{task.targetDurationMinutes}}</div>
  <div class='major-section' [className]="task.state=='done' ? 'major-section-done' : 'major-section'" *ngIf='task.state != "hidden"'>{{task.task}}</div>
  <button *ngIf='task.state == "queued"' class='control-section' mat-raised-button (click)='startTask(task)'>
    <mat-icon>play_circle_filled</mat-icon>
  </button>
  <button *ngIf='task.state == "done"' class='control-section-done' mat-raised-button (click)='hideTask(task)'>
    <mat-icon>visibility_off</mat-icon>
  </button>
</div>

<app-task-add [projectId]='projectId'></app-task-add>
  