<div class='banner'>
  <h1>{{asset.name}}</h1>
</div>
<div class='wrapper'>
  <!-- <ngx-charts-line-chart
    [scheme]="colorScheme"
    [results]="multi"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="hideLegend"
    [showXAxisLabel]="hideXAxisLabel"
    [showYAxisLabel]="hideYAxisLabel"
    [showGridLines]="hideGridLines"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    (select)="onSelect($event)">
  </ngx-charts-line-chart> -->
  <google-chart [data]="pieChartData"></google-chart>
</div>


<!-- [timeline]="timeline" -->
