<div class='banner'>
  <h1>{{asset.name}}</h1>
</div>

<div class='wrapper'>
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="hideLegend"
    [showXAxisLabel]="hideXAxisLabel"
    [showYAxisLabel]="hideYAxisLabel"
    [showGridLines]="showGridLines"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>
