<div class='banner'>
  <h1 class='title'>{{asset.name}}</h1>
</div>

<!-- Control Buttons -->
<div *ngIf='true'>
  <button mat-raised-button class='card'> 
      <h1>{{prediction | number: '1.1'}}</h1>
      <h2>Short Term Prediction</h2>
  </button>
  <button mat-raised-button class='large-card' (click)='buyAsset(asset)' *ngIf='quantity === 0'> 
    <h1 class='link'>Buy Asset</h1>
  </button>
  <button mat-raised-button class='small-card' (click)='buyAsset(asset)' *ngIf='quantity !== 0'> 
    <h1 class='link'>Buy Asset</h1>
  </button>
  <button mat-raised-button class='small-card' (click)='sellAsset(asset)' *ngIf='quantity !== 0'> 
    <h1 class='link'>Sell Asset</h1>
  </button>
  <button mat-raised-button class='card'> 
      <h1>{{quantity}}</h1>
      <h2>Owned Quantity</h2>
  </button>
</div>

<app-asset-graph></app-asset-graph>