@import '~@angular/material/theming';
@import '../theme.scss';

* {
    background-color: white;
}

button {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.full-width {

    width: 100%;

}

.half-width {

    width: 100%;

}

h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(128, 128, 128);

}

h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(128, 128, 128);
    
}

h3 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(128, 128, 128);
    
}

.outline {
    
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid rgb(237, 237, 237);

}
