.add-task-outline {

    margin: auto;
    padding: 10px;
    height: 320px;
    width: 500px;
    border: 1px solid rgb(237, 237, 237);
    
}

.space {

    margin-bottom: 10px;

}


// Add Button
.add-button-container {
    
    width: 54px;
    margin: auto;
    padding: 10px;  

}

.add-button {

    margin-top: 50px;
    box-shadow: none;
    border: 1px solid rgb(237, 237, 237);
    color: rgb(128, 128, 128);

}

h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 11px;
    
}

.right {

    float: right;

}

.half-width {

    width: 49%;

}

.small-headline {

    font-size: 20px;

}