mat-card {

    height: 236px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(237, 237, 237);

}

.add-project-section {

    margin: auto;
    height: 100%;
    width: 40%;
    padding: 20px;
    border: 1px solid rgb(237, 237, 237);
    border-top: none;
    
}

// Add Button
.add-button-container {
    
    width: 54px;
    margin: auto;
    padding: 10px;

}

.add-button {

    margin-top: 50px;
    box-shadow: none;
    border: 1px solid rgb(237, 237, 237);
    color: rgb(128, 128, 128);

}

h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 11px;
    
}