<!-- Banner -->
<div class='banner'>
  <h1 class='title'>Portfolio</h1>
</div>

<!-- Cards -->
<!-- <div *ngIf='marketService.inAddMode === false'>
  <button mat-raised-button *ngFor='let market of markets' (click)='showMarketDetails(market)' class='card'> 
      <h1>{{market.name}}</h1>
      <h2>{{market.category}}</h2>
  </button>
</div> -->


<h1 class='secondary-headline'>Assets</h1>

<h1 class='secondary-headline'>Transactions</h1>

<h1 class='secondary-headline'>Predictions</h1>



<!-- Add Market -->
<!-- <app-market-add></app-market-add> -->
