<!-- Banner -->
<button mat-raised-button class='banner'>
  <h1 class='title'>{{title}}</h1>
</button>



<div *ngIf='true'>
  <button mat-raised-button class='card'> 
      <h1>2</h1>
      <h2>test</h2>
  </button>
  <button mat-raised-button class='card'> 
      <h1>4</h1>
      <h2>test</h2>
  </button>
  <button mat-raised-button class='card'> 
      <h1>7</h1>
      <h2>test</h2>
  </button>
  <button mat-raised-button class='card'> 
      <h1>3</h1>
      <h2>test</h2>
  </button>
</div>



<google-chart [data]="pieChartData"></google-chart>

<app-portfolio-predictions></app-portfolio-predictions>
