.wrapper {

    height: 300px;
    margin-top: 311px;
    padding-bottom: 50px;
    margin-left: 10%;
    width: 80%;
    position: absolute;
    background: transparent;
    background: rgba(255, 255, 255, 0.2);


}