h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 11px;
    color: rgb(128, 128, 128);
}

.add-button-container {
    margin: auto;
    width: 54px;
    padding: 10px;
}

.add-button {
    margin-top: 50px;
    border: 0.5px solid rgb(237, 237, 237);
    background: linear-gradient(to right bottom, rgb(255, 218, 163),rgb(194, 117, 54));
    color: white;
    box-shadow: none;
}

@media (min-width: 600px) {
    .outline {
        height: 200px;
        width: 600px;
        padding: 20px;
        border: 0.5px solid rgb(237, 237, 237);
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .outline {
        height: 200px;
        width: 320px;
        padding: 20px;
        border: 0.5px solid rgb(237, 237, 237);
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;

    }
}

.wrapper {
    float: right;
}

.submit-button {
    background: linear-gradient(to right bottom, rgb(120, 207, 85),rgb(55, 141, 55));
    background: linear-gradient(to right bottom, rgb(255, 218, 163),rgb(194, 117, 54));
    color: white;
}

.cancel-button {
    background: linear-gradient(to right bottom, rgb(235, 78, 30),rgb(233, 76, 37));
    color: white;
}